body {
  margin: 0;
  background: #000;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('../bg.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  display: block;
}

#wrapper{

  background: rgba(0,0,0,0.3);
  color: white;
  position:absolute;
  width: 100%;
  height:100%;
  font-size: 1.2rem;
  text-align:center;
  overflow:hidden;


}

.content{
  display:none;


}

#wrapper > div {
  width:33%;
  background: transparent;
  margin: 15rem auto;
  position:relative;

}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

h2{
  font-weight:light;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;

  &:hover {
    background:rgba(0,0,0,0.9);
  }
}

#countdown{

  margin:2em 0;

  .countdown-section{
    display:inline-block;
    position:relative;
    padding:0 1em;
    border-left: 1.5px dashed white;
    text-align: center;
    &:first-child{
      border:0;
    }
    span:nth-child(1){font-size:2em;}
    span:nth-child(2){display:block;}
    }
}

@media screen and (max-width: 1200px) {
  #wrapper > div { width: 50%;}
}


@media screen and (max-width: 800px) {
  #wrapper > div { width: 70%;}
  body { background: url('../bg.jpg') no-repeat center center fixed; background-size:cover; }
  #bgvid { display: none; }
}


@media screen and (max-width: 500px) {
  #wrapper > div { width: 90%; margin: 5rem auto;}
  #countdown{

    margin:2em 0;

    .countdown-section{
      padding:0 .5em;
      span:nth-child(1){font-size:1.5em;}
      }
  }


}
